body {
    background-color: #cfe2f3; /* Fondo azul pastel */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Centrar verticalmente en la página */
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Ancho del formulario */
}

h2 {
    text-align: center;
}
.n2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;  
}
.encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;  
    
}